<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Artem Myasnikov" />
    <meta name="description" content="Web=programming. Laboratory 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about.css" />
    <title>About page</title>
  </head>
  <body>
    <div id="fixed-block">TEXT</div>
    <div id="header">Header</div>
    <ul id="nav">
      <li>Main</li>
      <li>Extra</li>
      <li>About</li>
      <li>Contacts</li>
    </ul>
    <div id="main">Main</div>
    <div id="aside">Aside</div>
    <div id="footer">Footer</div>
  </body>
</html>
