<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Artem Myasnikov" />
    <meta name="description" content="Web=programming. Laboratory 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <p class="p1">
      <i id="id-lorem-text">Lorem ipsum</i> dolor sit amet
      <b>consectetur adipisicing elit</b>. Repellat aspernatur <b>dolorum</b> et
      iure tempore illum dignissimos ipsa, quos <i>odit expedita</i> accusantium
      <b>saepe</b> quae provident. Deserunt nemo id ad
      <i>rerum</i> voluptatibus.
    </p>
    <p class="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div>
      <p>
        Lorem ipsum, dolor sit <b>amet</b> consectetur <i>adipisicing elit</i>.
        <b>Quidem a</b> debitis <b>reiciendis</b> mollitia <i>est</i> voluptate
        quisquam distinctio, pariatur <i>nisi natus porro</i> deleniti? Error
        sit <b>illum</b>, atque tempore culpa dolore asperiores?
      </p>
    </div>

    <div id="first-div" class="block-div"></div>
    <div id="second-div" class="block-div"></div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="main-div">Simp<b>le</b> <i>te</i>xt</div>
    <span class="main-div">Simple text</span>

    <hr />

    <p class="main-link">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
      fugiat error nam dolore enim nihil, minima maiores nisi hic, praesentium
      dolorem ut dolores quidem doloribus sunt! Maiores magni error temporibus!
    </p>
    <a href="#" class="main-link">Link</a><br />
    <input type="text" placeholder="Text something" />
    <hr />
    <p class="p_text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam assumenda
      voluptatibus quibusdam error sunt libero porro recusandae ea maxime a
      corporis voluptates, architecto sed fugiat ipsum consequuntur eum, magnam
      tenetur!
    </p>
    <a href="about.html">About page</a>
  </body>
</html>
