<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Artem Myasnikov" />
    <meta name="description" content="Web=programming. Laboratory 1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab1 ArteMyasnik</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <a name="home"></a>
    <!-- Шапка для сайта (ФИО, номер Группы, номер варианта) -->
    <header>
      <h1>Мясников Артём Валерьевич</h1>
      <h2>P3223</h2>
      <h2>Вариант: 466816</h2>
    </header>

    <main>
      <hr />
      <h1><i>ArteMyasnik</i></h1>
      <h2>Heading <big>h2</big></h2>
      <h3>Heading <small>h3</small></h3>
      <hr />
      <p><strike>Text</strike></p>
      H<sub><b>2</b></sub
      >O --- x<sup>2</sup> + y<sup>2</sup> = 25<br />
      <code>print("Hello, World!")</code>
      <pre>
I
    love
        U</pre
      >
      <aabr title="Best vuz RF">ITMO in HTML</aabr>
      <address>Saint-Petersburg, Russia</address>
      <ol start="4" type="I">
        <li>ordered list 4</li>
        <li>ordered list 5</li>
        <li>ordered list 6</li>
        <ul>
          <li>unordered list</li>
          <li>unordered list</li>
          <li>unordered list</li>
        </ul>
      </ol>
      <a href="https://google.com" title="Press me" target="_blank"
        >Go to google</a
      ><br />
      <a href="../partials/about.html" title="About page" target="_self"
        >About page</a
      ><br />
      <img
        src="https://avatars.mds.yandex.net/i?id=68e353d3b94c82dfc0cba9077e202e8465a017b1-4034308-images-thumbs&n=13"
        width="200px"
        height="auto"
        title="Moon Knight"
        alt="There was a moon knight picture here"
      /><br />
      <img src="../img/Art_Van_Der_Ner.jpg" width="75%" /><br />
      <table width="50%" border="1">
        <tr>
          <th>Row1 Column1</th>
          <td></td>
        </tr>
        <tr>
          <th>Row2 Column1</th>
          <td>Row2 Column2</td>
        </tr>
        <tr>
          <td></td>
          <td>Row3 Column2</td>
        </tr>
      </table>

      <span>Span text</span>
      <div>Div text</div>

      <form action="Страница для обработки данных из формы" method="post">
        <label for="username_input">Введите имя</label>
        <input
          type="text"
          placeholder="Hint for the input"
          maxlength="6"
          name="username"
          id="username_input"
        /><br />
        <input type="file" /><br />
        <input type="password" placeholder="Password input" /><br />
        <input type="email" placeholder="Email input" /><br />
        <input type="url" placeholder="URL input" /><br />
        <input type="color" /><br />
        <input type="date" /><br />
        <input type="time" /><br />
        <input type="datetime" placeholder="Datetime input" /><br />
        <label for="checkbox_one">SOSAL?</label> <input type="checkbox" id="checkbox_one" /><br />
        <label for="Male">Male</label
        ><input type="radio" name="sex" id="Male" />
        <label for="Female">Female</label
        ><input type="radio" name="sex" id="Female" /><br />
        <input type="range" min="0" max="100" value="50" step="25" /><br />

        <input type="button" value="Button" /><br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Clear" />
      </form>
      <br />
      <form>
        <textarea placeholder="Введите что-то" maxlength="50">
Default text</textarea
        ><br />
        <button type="submit">Well done</button>
      </form>
      <br />
      <form>
        <select>
          <option selected disabled>---</option>
          <option>BMW</option>
          <option>Audi</option>
          <option>Mercedes</option></select
        ><br />
        <select multiple>
          <option selected disabled>---</option>
          <option>Feet</option>
          <option>Car</option>
          <option>Plane</option>
          <option>Ship</option>
        </select>
      </form>
      <br />

      <!-- Теги для расположения на сайте:
    <header>Header</header>
    <main>Main</main>
    <aside>Side</aside>
    <footer>Footer</footer> -->

      <progress max="100" value="90">Loading 90%</progress><br />

      <details>
        <summary>More details</summary>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus
        possimus deleniti tempore pariatur incidunt, quisquam ea suscipit libero
        culpa hic molestias enim ab temporibus. Consequuntur, molestiae?
        Deserunt odio non tempora.
      </details>
    </main>

    <footer>
      <a href="#home"
        >Наверх страницы, ссылка якорь для перемещения внутри страницы</a
      ><br />
    </footer>
    <script src="../js/main.js"></script>
  </body>
</html>
